html
    head
        title Shirts of Anime [アニメのシャツ]
        base(href='/')
        meta(http-equiv='Content-Type' content='text/html')
        meta(name='viewport' content='initial-scale=1.0')
        script(src='jquery/dist/jquery.min.js')
        script(src='browse.js')
        link(href='sof.css' rel='stylesheet')
    body
        div(id='nav')
        div(id='list')
        div.bottom-right(id='byline')
