html
    head
        include head.jade
        script(src='index.js')
    body
        include title.jade
        include nav.jade
        #content
            //- content
            img#image
            p
                strong
                    span#origin
        include byline.jade
