.nav-block
    p 
        a(href='/browse') Browse
    p
        a(href='/random') Random
    p
        a(href='/submit') Submit
.nav-block-mobile 
    p 
        a(href='/browse') Browse
        | &nbsp;•&nbsp;
        a(href='/random') Random
        | &nbsp;•&nbsp;
        a(href='/submit') Submit