html
    head
        include head.jade
        script(src='admin/shirtadmin.js')
    body
        include title.jade
        include nav.jade
        #content
            //- content
            img#image
            p
                strong
                    span#origin
                input#edit-origin-box(type='text')
                | &nbsp;
                button#edit-origin Edit
            p
                button#publish Publish
                | &nbsp;
                button#delete Delete
        include byline.jade