.title-block
    .header-block
        h1.title-1 Shirts of Anime
        h5.title-2 ~アニメのシャツ~
    span
        img(src='images/shirtsofanime.png' style="width:64px;height:64px;transform:rotate(15deg)")